<h1>Available Activities</h1>

<table>
  <tr>
    <th>Activity</th>
    <th></th>
    <th>Day</th>
    <th>start_time</th>
    <th>Duration</th>
  </tr>
    <% for activity in @activities %>
  <tr>
    <td> <a href="/activity/<%= activity.id %>"><%= activity.name %></a></td>
    <td>|</td>
    <td><%= activity.day %></td>
    <td><%= activity.start_time %></td>
    <td><%= activity.duration %></td>
    </tr>
    <% end %>
</table>
