<h1><%= @activity.activity_name %></h1>

<p>Day: <%= @activity.day %></p>
<p>Start Time: <%= @activity.start_time %></p>
<p>Duration: <%= @activity.duration %></p>
<p><a href="/activity/<%= @activity.id %>/edit">Edit Activity</a></p>
<form method="post" action="/activity/<%= @activity.id %>/delete">
  <input type="submit" value="Delete Activity"/>
</form>
<p>Capacity: <%= @activity.capacity %></p>


<hr>
<h2>Members Registered </h2>
<ul>
  <% for member in @members  %>
  <li><%= member.first_name %></li>
  <% end%>
</ul>
